{% extends 'catalog/base.html' %}
{% block content %}

<ul class="col-10 mx-auto">
    <li>Телефон: 915 999 99 99</li>
    <li>Почта: email@email.com</li>
    <li>Адрес: Россия, г. Москва, ул. весенняя 12</li>
</ul>
<h2 class="display-4 fw-normal col-10 mx-auto text-center">Форма обратной связи</h2>
<form class="col-10 mx-auto" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group mb-3 mt-3">
        <label for="exampleFormControlTextarea1">Оставьте комментарий</label>
        <textarea class="form-control" name="textarea" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-light">Отправить</button>
</form>

{% endblock %}
